{
  "all": false,
  "check-coverage": true,
  "statements": 80,
  "branches": 80,
  "functions": 80,
  "lines": 80,
  "exclude": [
    "test/**",
    "src/lg/**",
    "src/commands/**",
    "src/discordlgbot.js",
    "src/utils/embed.js",
    "src/utils/message.js",
    "src/functions/cmds/**",
    "src/services/index.js"
  ],
  "reporter": [
    "text-summary",
    "html"
  ]
}
